//popup
#popup-questions.popup
	.popup-overlay
	//container
	.popup-container
		//close
		button(type="button", data-popup='close').popup-container__close
			| Close
			i.icon.icon-close
		//content
		.popup-content
			h2.popup-content__title Задать свой вопрос
			//- body
			.popup-content-body
				//form
				form(id="form-questions", action="#").form.form_contacts
					.row
						.form-group.col-md-6
							input(type="text", placeholder="Ваше имя", required, data-msg="Поле заполнено не корректно", name='name').form-input
						.form-group.col-md-6
								input(type="text", placeholder="Из какого Вы города", required, data-msg="Поле заполнено не корректно", name='city').form-input
						.form-group.col-md-6
							input(type="email", placeholder="Ваш e-mail для ответа", required, data-msg="Поле заполнено не корректно", name='email').form-input
						.form-group.col-md-6
							input(type="tel", placeholder=" Ваш телефон если нужно перезвонить", required, data-msg="Поле заполнено не корректно", name='phone').form-input.mask-phone
						.form-group.col-sm-12
							textarea(placeholder="Текст вопроса").form-textarea
						.form-group.form-group_capcha.col-sm-12
							.capha
								img(src="images/capcha.jpg", alt="google capha")
							a(href="#", target="_blank").form__link Нажимая кнопку «отправить запрос», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных
						.form-group.col-sm-12
							button(type="submit", class="btn btn_primary btn_center btn_long") Задать вопрос
