//-ui elements
section.ui-section
	.ui-section-header
		.ui-section__title <span>1.</span>Branding and Colors
	.ui-section-body.clearfix
		//-logo
		.ui-title LOGO
		a(href="#").ui-logo
			img(src="images/logo.png", alt="logo")
		//-colors
		.ui-title COLORS
		br
		.ui-color-list
			.ui-color-block
				.ui-color(style="background:#fff;") #fff
			.ui-color-block
				.ui-color(style="background:#000; color: #fff;") #000
			.ui-color-block
				.ui-color(style="background:#C30016;") #C30016
			.ui-color-block
				.ui-color(style="background:#D0021B;") #D0021B
			.ui-color-block
				.ui-color(style="background:#F7001E;") #F7001E
			.ui-color-block
				.ui-color(style="background:#F5A623;") #F5A623
			.ui-color-block
				.ui-color(style="background:#39393A; color: #fff;") #39393A
			.ui-color-block
				.ui-color(style="background:#C4C4C4;") #C4C4C4
			.ui-color-block
				.ui-color(style="background:#F0F0F0;") #F0F0F0
			.ui-color-block
				.ui-color(style="background:#27AE60;") #27AE60
