section.ui-section
	.ui-section-header
		.ui-section__title <span>10.</span>WEATHER ICONS
	.ui-section-body.clearfix
		- for(var i = 0; i < 10; i ++)
			+icon('weather_' + i)
	.ui-section-footer.clearfix
		pre.
