section.ui-section
	.ui-section-header
		.ui-section__title <span>9.</span>POPOVER
	.ui-section-body(style="background: #C4C4C4; padding: 0 0 50px;").clearfix
		//popover
		#popover.popover
			//image
			.popover-image
				img(src="uploads/alloy-1.jpg", alt="Нижняя Катунь")
				.popover__title Нижняя Катунь
				.popover__label 3 дня
			//content
			.popover-body
				.popover-body__group Группа из 6 человек
				.popover-body__place Свободно:
					|
					span 4 места
				a(href="#").popover-body__button Я участвую!
	.ui-section-footer.clearfix
		pre.
section.ui-section
	.ui-section-header
		.ui-section__title <span>10.</span>FULLCALENDAR
	.ui-section-body.clearfix
		include ../global/calendar
	.ui-section-footer.clearfix
		pre.
