/* ==========================================================================
	ALLOYS BLOCK ===========================================================================*/
.section-alloys{
	position: relative;
	z-index: 2;
	@include mq('tablet', 'max') {
		.container{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
.alloy-block{
	position: relative;
	display: block;
	max-width: 100%;
	// width: 305px;
	width: 100%;
	height: 305px;
	margin-bottom: 20px;
	background-color: $color-main;
	overflow: hidden;
	@include mq('desktop', 'max') {
		height: 228px;
	}
	@include mq('tablet-small', 'max') {
		height: 108px;
	}
	&:hover{
		img{
			opacity: .1;
			transition: all .4s;
		}
	}
	img{
		display: block;
		width: auto;
		height: 100%;
		max-width: none;
		opacity: .6;
		transition: all .4s;
		@include mq('laptop', 'max') {
			width: 100%;
			height: auto;
		}
	}
}
.alloy-block__title{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	@include font-size(24px);
	color: #fff;
	line-height: 1.2;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	border: 5px solid #fff;
	@include mq('desktop', 'max') {
		left: 10px;
		right: 10px;
	}
	@include mq('tablet-small', 'max') {
		top: 7px;
		bottom: 7px;
	}
}
.alloy-block__date{
	display: block;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 68px;
	color: #fff;
	line-height: 47px;
	text-align: center;
	background-color: rgba( $color-main, .8);
	@include mq('tablet-small', 'max') {
		line-height: 16px;
		width: 80px;
	}
}
/* end alloy block */
