/* ==========================================================================
   ARTICLE: PREVIEW
   ===========================================================================*/
.article-preview{
	position: relative;
	width: 100%;
	height: 500px;
	margin-bottom: 20px;
	display: block;
	text-align: left;
	background: #ECECEC;
	border-radius: 3px;
	box-shadow: inset 0 -6px 0 0 $color-main-darken;
	@include mq('desktop-max', 'max') {
		height: 450px;
	}
	@include mq('tablet', 'max') {
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
		min-height: 400px;
		height: auto;
	}
	&:hover{
		.article-preview__title{
			color: $color-main-darken;
		}
		p{
			text-decoration: underline;
		}
	}
}
.article-preview-image{
	display: block;
	width: 100%;
	height: 232px;
	overflow: hidden;
	@include mq('desktop-max', 'max') {
		height: 175px;
	}
	img{
		@include mq('desktop-max') {
			height: 100%;
			max-width: none;
			width: auto;
		}
			@include mq('desktop-max', 'max') {
				width: 100%;
			}
	}
}
.article-preview-body{
	display: block;
	width: 100%;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 25px;
	padding-bottom: 25px;
	overflow: hidden;
	@include mq('desktop-max', 'max') {
		padding-top: 18px;
		padding-bottom: 18px;
		padding-left: 15px;
		padding-right: 15px;
	}
	p{
		position: relative;
		margin: 0;
		line-height: 1.4;
		column-count: 2;
		column-width: 300px;
		max-height: 125px;
		padding-bottom: 20px;
		overflow-x: hidden;
		@include mq('desktop-max', 'max') {
			max-height: 120px;
		}
		&:after{
			content: '...';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: z(default);
		}
	}
}
.article-preview__title{
	position: relative;
	display: block;
	min-height: 55px;
	width: 100%;
	margin-bottom: 10px;
	@include font-size(18px);
	line-height: 1;
	font-weight: 600;
	@include mq('desktop-max', 'max') {
		margin-bottom: 5px;
		min-height: 72px;
	}
	@include mq('laptop', 'max') {
		min-height: 0;
	}

}
.article-preview__date{
	display: block;
	margin-bottom: 17px;
	@include font-size(12px);
	color: #979797;
	@include mq('desktop-max', 'max') {
		margin-bottom: 9px;
	}
}

/* LIST NEWS */
.news-list{
	position: relative;
	display: block;
	.row{
		padding-bottom: 35px;
		@include mq('desktop-max', 'max') {
			padding-bottom: 0;
		}
	}
	.container{
		max-width: 1290px;
	}
}

/* LIST CAROUSEL js-article */

.js-article{
	justify-content: center;
}

.article-preview.article-preview_blog{
	height: 590px;
	@include mq('desktop','max') {
		height: 510px;
	}
	@include mq('laptop','max') {
		height: 430px;
	}
	&:hover{
		.article-preview__title{
			color: #000;
		}
		p{
			text-decoration: none;
		}
	}
	.article-preview__title{
		min-height: 0;
		&:hover{
			color: $color-main;
		}
	}
	.article-preview-image{
		height: 300px;
		@include mq('desktop','max') {
			height: 230px;
		}
		@include mq('laptop','max') {
			height: 150px;
		}
		img{
			width: 100%;
			height: auto;
		}
	}
	.article-preview__date{
		margin-bottom: 10px;
	}
	.article-preview-body {
		@include mq('desktop','max') {
			padding-top: 25px;
		}
		p{
			margin-bottom: 20px;
			padding-bottom: 0;
			@include mq('desktop','max') {
				margin-bottom: 10px;
			}
			&:after{
				display: none;
			}
		}
	}
}

/* end article preview */
