/* ==========================================================================
	BREADCRUMBS
===========================================================================*/
.breadcrumbs{
	display: block;
	text-align: center;
	li{
		display: inline-block;
		vertical-align: middle;
		@include mq('laptop', 'max') {
			@include font-size(12px);
		}
		&:not(:last-child) {
			&:after{
				content: '/';
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px;
			}
		}
		>a{
			color: $color-gray;
			font-weight: 500;
			text-decoration: underline;
			@include mq('laptop', 'max') {
				@include font-size(12px);
			}
			&:hover{
				color: $color-main;
				text-decoration: none;
			}
		}
	}
}
/* end breadcrumbs */
