/*==========================================================================
	 FOOTER
	 ========================================================================== */
.footer{
	position: relative;
	padding-top: 430px;
	margin-top: -130px;
	width: 100%;
	background: url('../images/footer.png') no-repeat top center;
	background-size: cover;
	@include clearfix;
	@include mq('desktop', 'max') {
		padding-top: 260px;
		margin-top: -60px;
	}
	@include mq('laptop', 'max') {
		// margin-top: -20px;
		margin-top: 0;
	}
	@include mq('tablet', 'max') {
		padding-top: 150px;
		margin-top: -35px;
	}
}
.footer_gray{
	background-color: #ECECEC;
}
/* SOCIAL */
.footer-social{
	position: relative;
	z-index: z(default);
	display: block;
	padding-top: 76px;
	padding-bottom: 56px;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	@include mq('desktop', 'max') {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	@include mq('tablet', 'max') {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	li{
		display: inline-block;
		vertical-align: middle;
		&:not(:last-child) {
			margin-right: 85px;
			@include mq('desktop', 'max') {
				margin-right: 50px;
			}
			@include mq('tablet', 'max') {
				margin-right: 20px;
			}
		}
	}
	a{
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		color: #DADADA;
		transition: .3s;
		&:hover{
			opacity: .8;
			transition: .3s;
		}
		.icon{
			width: 80px;
			height: 80px;
			@include mq('desktop', 'max') {
				width: 50px;
				height: 50px;
			}
			@include mq('tablet', 'max') {
				width: 35px;
				height: 35px;
			}
		}
	}
}
/* MENU */
.footer-menu{
	position: relative;
	width: 100%;
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	@include mq('desktop', 'max') {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	@include mq('tablet', 'max') {
		display: none;
	}
	li{
		display: inline-block;
		vertical-align: middle;
		&:not(:last-child) {
			border-right: 1px solid #fff;
		}
	}
	a{
		display: inline-block;
		vertical-align: middle;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 18px;
		padding-right: 18px;
		color: #fff;
		font-weight: 500;
		text-transform: uppercase;
		transition: .3s;
		@include mq('desktop', 'max') {
			padding-top: 1px;
			padding-bottom: 1px;
		}
		&:hover{
			opacity: .8;
			transition: .3s;
		}
	}
}
/* BOTTOM */
.footer-bottom{
	position: relative;
	width: 100%;
	display: block;
	padding-top: 25px;
	padding-bottom: 30px;
	text-align: center;
	color: #fff;
	background: #1C1C1C;
	@include mq('desktop', 'max') {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	@include mq('tablet', 'max') {
		padding-left: 60px;
		padding-right: 60px;
	}
}
.footer-bottom__phone{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	font-weight: 600;
	color: #fff;
	@include font-size(64px);
	text-align: center;
	@include mq('desktop', 'max') {
		margin-bottom: 0px;
		@include font-size(36px);
	}
	@include mq('tablet', 'max') {
		display: inline-block;
		@include font-size(18px);
	}
}
.footer-bottom__email{
	display: inline-block;
	width: 100%;
	font-weight: 300;
	@include font-size(16px);
	letter-spacing: 1px;
	color: #fff;
	@include mq('desktop', 'max') {
		@include font-size(14px);
	}
	@include mq('tablet', 'max') {
		@include font-size(12px);
	}
}

/* WELCOME */
.footer_welcome{
	background-color: #ececec;
	@include mq('tablet','max') {
		margin-top: 30px;
	}
}
.footer-welcome{
	position: relative;
	display: block;
	margin-top: -127px;
	@include clearfix;
	@include mq('desktop','max') {
		margin-top: -196px;
	}
	@include mq('laptop','max') {
		&:before{
			content: '';
			position: absolute;
			z-index: 1;
			bottom: 129%;
			left: 0;
			right: 0;
			margin: 0 auto;
			display: block;
			width: 100%;
			height: 100px;
			background-color: #ececec;
		}
	}
	@include mq('tablet','max') {
		&:before{
			bottom: 79%;
		}
	}
	.container{
		max-width: 960px;
		@include mq('desktop-max','max') {
			max-width: 800px;
		}
		@include mq('desktop','max') {
			max-width: 700px;
		}
	}
	.info-block{
		position: relative;
		z-index: 2;
		float: left;
		// margin-left: 100px;
		@include mq('desktop','max') {
			// margin-left: 80px;
		}
		@include mq('laptop','max') {
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}
}
.footer-welcome__title {
	position: relative;
	z-index: z(default);
	display: block;
	float: right;
	width: 100%;
	max-width: 600px;
	// margin-right: 200px;
	margin-top: -40px;
	@include font-size(80px);
	line-height: 1.1;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	border: 11px solid #fff;
	word-break: break-all;
	padding-top: 62px;
	padding-left: 90px;
	padding-right: 50px;
	padding-bottom: 40px;
	margin-bottom: -30px;
	letter-spacing: 23px;
	@include mq('desktop-max', 'max') {
		max-width: 440px;
		// margin-right: 164px;
		margin-bottom: 35px;
		padding-left: 62px;
		padding-top: 54px;
		padding-right: 50px;
		padding-bottom: 30px;
		@include font-size(55px);
		line-height: 1.1;
		letter-spacing: 15px;
	}
	@include mq('laptop', 'max') {
		float: none;
		max-width: 320px;
		@include font-size(24px);
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 11px auto 17px;
		line-height: 1;
		letter-spacing: 6px;
		border-width: 5px;
	}
	@include mq('tablet', 'max') {
		max-width: 280px;
	}
}

/* end footer */
