/*==========================================================================
	FORM ASK
	========================================================================== */

.ask-form{
	position: relative;
	z-index: 2;
	width: 100%;
	padding-top: 7px;
	margin-top: 190px;
	margin-bottom: 110px;
	background: #ececec;
	&:before{
		content: '';
		display: block;
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		width: 100%;
		height: 270px;
		background: url('../images/form-elem.png') no-repeat center bottom;
		background-size: cover;
		@include mq('desktop', 'max') {
			height: 150px;
		}
		@include mq('tablet', 'max') {
			height: 50px;
		}
	}
	@include mq('desktop', 'max') {
		padding-top: 20px;
		margin-top: 120px;
		margin-bottom: 60px;
	}
	@include mq('laptop', 'max') {
		margin-bottom: 0;
		padding-bottom: 20px;
	}
	@include mq('tablet', 'max') {
		margin-bottom: 30px;
		margin-top: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

/* end ask-form */
