/* ==========================================================================
	GALLERY
	===========================================================================*/

.gallery{
	position: relative;
	width: 100%;
	@include clearfix;
	&.gallery_gray{
			background: linear-gradient(177deg, #ffffff 0, #ececec 100%);
	}
}
.gallery-list{
	width: 100%;
	margin-bottom: 60px;
	@include clearfix;
	@include mq('desktop', 'max') {
		margin-bottom: 30px;
	}
	@include mq('tablet', 'max') {
		max-width: 500px;
		margin: 0 auto 30px;
		max-height: 390px;
		overflow: hidden;
	}
}
.gallery-item{
	display: block;
	width: (100% /4 );
	float: left;
	height: 460px;
	overflow: hidden;
	&:hover{
		img{
			transform: scale(1.2);
			transition: .3s;
		}
	}
	@include mq('desktop-max', 'max') {
		height: 300px;
	}
	@include mq('desktop', 'max') {
		height: 230px;
	}
	@include mq('laptop', 'max') {
		width: 50%;
		height: 350px;
	}
	@include mq('tablet', 'max') {
		width: 100%;
	}
	@include mq('tablet-small', 'max') {
		height: 300px;
	}
	@include mq('phone', 'max') {
		height: 200px;
	}
	img{
		width: 100%;
		transform: scale(1);
		transition: .3s;
	}
}
/* end gallery */
