/*==========================================================================
	INFO BLOCK
	========================================================================== */
.info-block{
	display: block;
	width: 415px;
	height: 312px;
	padding-top: 50px;
	text-align: center;
	background: rgba($color-main-darken, 0.7);
	//flexbox
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include mq('desktop', 'max') {
		width: 306px;
		height: 230px;
		padding-top: 0;
	}
	@include mq('laptop', 'max') {
		width: 280px;
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 20px;
		padding-right: 20px;
		min-height: 133px;
	}
	p{
		display: block;
		width: 260px;
		margin-top: 0;
		margin-bottom: 35px;
		margin-left: auto;
		margin-right: auto;
		color: #fff;
		@include font-size(18px);
		font-weight: 400;
		text-align: center;
		line-height: 1;
		@include mq('desktop', 'max') {
			margin-bottom: 10px;
			max-width: 190px;
		}
		@include mq('laptop', 'max') {
			@include font-size(13px);
			width: 100%;
			max-width: none;
		}
	}
	.btn{
		@include mq('desktop', 'max') {
			min-width: 170px;
			height: 36px;
			line-height: 36px;
		}
		@include mq('laptop', 'max') {
			width: 100%;
		}
	}
}
.info-block_alloy{
	position: absolute;
	top: 440px;
	right: 110px;
	@media screen and (min-width: 1921px) {
		top: 790px;
	}
	@include mq('desktop', 'max') {
		top: 235px;
		right: 90px;
	}
	@include mq('laptop', 'max') {
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}
/* end info block */
