/*==========================================================================
	REVIEWS LIST
	========================================================================== */
.reviews-list{
	padding-top: 40px;
	padding-bottom: 45px;
	padding-left: 80px;
	padding-right: 80px;
	@include mq('desktop', 'max') {
		padding-top: 35px;
		padding-bottom: 30px;
	}
	@include mq('laptop', 'max') {
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
		padding-top: 25px;
		padding-bottom: 30px;
		> div {
			&:not(:first-child) {
				display: none;
			}
		}
	}
}
.reviews-list-item{
	display: block;
	width: 100%;
	text-align: center;
	p{
		padding: 0 40px;
		line-height: 1;
		font-style: italic;
		@include mq('desktop', 'max') {
			padding-left: 0;
			padding-right: 0;
			margin: 0;
		}
		@include mq('laptop', 'max') {
			font-size: 14px;
			max-width: 220px;
			margin: 0 auto;
			line-height: 1;
		}
	}
}
.reviews-list-item__image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 250px;
	margin-bottom: 40px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0px 0px 0px 10px #fff;
	border: 5px solid #ECECEC;
	@include mq('desktop', 'max') {
		width: 190px;
		height: 190px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.reviews-list-item__name {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 600;
	@include font-size(18px);
	line-height: 1;
	text-align: center;
	color: $color-main;
	span{
		display: inline-block;
		width: 100%;
		color: #9B9B9B;
		@include font-size(14px);
		font-weight: 400;
	}
}
/* ON HOME PAGE */
.reviews{
	padding-bottom: 40px;
	position: relative;
	// z-index: 3;
	width: 100%;
	display: block;
	text-align: center;
	background-color: #ECECEC;
	@include mq('desktop', 'max') {
		padding-top: 40px;
	}
}
.review_page{
	padding-top: 100px;
	.h2{
		margin-top: 0;
		margin-bottom: 20px;
	}
	.reviews-list{
		padding-top: 20px;
	}
}
.reviews__title{
	margin: 0;
	@include font-size(36px);
	font-weight: 600;
	text-transform: uppercase;
	color: $color-main;
	line-height: 1.4;
	@include mq('laptop', 'max') {
		@include font-size(14px);
	}
	span{
		display: block;
		margin-bottom: 5px;
		color: #39393A;
		@include font-size(18px);
		text-transform: none;
		text-align: center;
		@include mq('laptop', 'max') {
			@include font-size(11px);
		}
	}
}
.reviews__subtitle{
	display: block;
	max-width: 800px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	@include font-size(18px);
	line-height: 1;
	@include mq('laptop', 'max') {
		margin: 0;
		@include font-size(12px);
		line-height: 1.3;
	}
}

/* end reviews list */
