/* ==========================================================================
		SOCIAL BLCOKS
===========================================================================*/

.social-blocks{
	position: relative;
	z-index: 2;
	display: block;
	text-align: center;
	margin-bottom: -125px;
	@include mq('desktop-max', 'max') {
		margin-bottom: 95px;
	}
	@include mq('laptop', 'max') {
		margin-bottom: -80px;
	}
}
.social-blocks-item{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 302px;
	height: 413px;
	overflow: hidden;
	@include mq('laptop', 'max') {
		margin-bottom: 20px;
	}
	img{
		max-width: none;
	}
}
/* end social blocks */
