/*==========================================================================
	TABS
	========================================================================== */
.tabs{
	position: relative;
	width: 100%;
	padding-top: 35px;
	@include mq('laptop', 'max') {
		padding-top: 25px;
	}
	@include mq('tablet', 'max') {
		padding-top: 20px;
	}
}
/* PANEL */
.tabs-panel{
	position: relative;
	z-index: 56;
	display: block;
	width: 100%;
	@include mq('tablet', 'max') {
		border-radius: 29px;
		border: 1px solid #8ca09f;
		background-color: #f5f7f7;
		overflow: hidden;
		&.open{
			overflow: visible;
			border-bottom-color: transparent;
			border-radius: 29px 29px 0px 0px;
		}
	}
}
/* BUTTON */
.tabs-panel__button{
	position: relative;
	display: block;
	width: 100%;
	height: 60px;
	padding: 0 45px 0 25px;
	line-height: 58px;
	color: $color-black;
	@extend %buttonNull;
	@include font-size(16px);
	font-weight: 600;
	text-align: left;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	&.clicked{
		&:after{
			transform: translateY(-50%) rotate(180deg);
			transition: all .3s ease;
		}
	}
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		right: 25px;
		display: block;
		width: 21px;
		height: 12px;
		background:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067%2039%22%3E%3Cpath%20d%3D%22M4.3-.1c1.2%200%202.4.5%203.2%201.4l25.8%2026.6L59.1%201.3c1.7-1.8%204.6-1.8%206.4-.1%201.8%201.7%201.8%204.6.1%206.4l-29%2030c-.8.9-2%201.4-3.2%201.4s-2.4-.5-3.2-1.4l-29-30C-.5%205.8-.5%203%201.3%201.2%202%20.3%203.2-.1%204.3-.1z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
		background-size: 100%;
		transform: translateY(-50%) rotate(0deg);
		transition: all .3s ease;
	}
	@include mq ('tablet') {
		display: none;
	}
}
/* LIST */
.tabs-list{
	position: relative;
	display: block;
	width: 100%;
	@include clearfix;
	@include mq('tablet', 'max') {
		display: none;
		position: absolute;
		top: 80%;
		left: -1px;
		right: -1px;
		padding-bottom: 10px;
		border: 1px solid #959595;
		border-top-color: transparent;
		background-color: #f5f7f7;
		border-radius: 0px 0px 30px 30px;
		&.open{
			display: block;
		}
	}
}
.tabs-list-item{
	position: relative;
	@include mq ('desktop') {
		&:not(:last-child) {
			&:after{
				padding-left: 15px;
				padding-right: 15px;
				@include font-size(24px);
			}
		}
	}
	@include mq ('laptop') {
		&:not(:last-child) {
			&:after{
				padding-left: 10px;
				padding-right: 10px;
				@include font-size(18px);
			}
		}
	}
	@include mq ('tablet') {
		display: inline-block;
		text-align: center;
		&:not(:last-child) {
			&:after{
				content: '|';
				display: inline-block;
				margin-left: 5px;
				margin-right: 5px;
				color: $color-black;
				font-family: $font-family-yeseone;
				@include font-size(14px);
				font-weight: 400;
			}
		}
	}
	a{
		position: relative;
		z-index: z(default);
		display: block;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 25px;
		padding-right: 25px;
		font-family: $font-family-yeseone;
		color: $color-black;
		@include font-size(16px);
		line-height: 1;
		font-weight: 600;
		@include mq ('desktop') {
			@include font-size(24px);
		}
		@include mq ('laptop') {
			@include font-size(18px);
		}
		@include mq ('tablet') {
			display: inline-block;
			width: auto;
			height: 100%;
			padding: 0;
			color: #9a9a9a;
			@include font-size(14px);
			font-weight: 400;
			border-bottom: 1px dashed #9a9a9a;
		}
		&.active{
			color: $color-black;
			border-bottom: 1px solid $color-main;
			@include mq ('tablet','max') {
				display: none;
			}
		}
	}
}
.tabs-list-item.tabs-list-item_button{
	@include mq ('tablet') {
		margin-right: -0.36em;
		&:not(:last-child) {
			a{
				border-right-color: transparent;
			}
			&:after{
				display: none;
			}
		}
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			padding-left: 80px;
			padding-right: 80px;
			height: 55px;
			color: $color-main-161;
			font-family: $font-family-roboto;
			@include font-size(16px);
			font-weight: 400;
			border: 1px solid $color-main;
			&.active{
				color: #fff;
				background-color: $color-main;
			}
		}
	}
}

/* CONTENT */
.tabs-content{
	position: relative;
	width: 100%;
	padding-top: 40px;
	@include mq('desktop', 'max') {
		padding-top: 0;
	}
}
.tabs-item{
	display: none;
	width: 100%;
	&.active{
		display: block;
	}
}
/* end tabs */
