/* ==========================================================================
	STYLES FOR ALLOY PAGE
	===========================================================================*/
/* COLLAPSE TEXT */
.collapse-text{
	position: relative;
	display: block;
	padding-top: 28px;
	@include mq('laptop','max') {
		padding-top: 0;
	}
}
.collapse-text__link{
	display: inline-block;
	margin-bottom: 20px;
	@include font-size(13px);
	line-height: 1.2;
	font-weight: 500;
	color: $color-main;
	letter-spacing: 4px;
	text-transform: uppercase;
	border-bottom: 1px dashed $color-main;
	@include mq('laptop','max') {
		letter-spacing: 2px;
	}
	@include mq('tablet','max') {
		@include font-size(12px);
		letter-spacing: 0;
	}
	&:hover{
		border-bottom-color: transparent;
	}
}
.collapse-text-body{
	display: none;
}
.collapse-text-body_active{
	padding-top: 20px;
	.btn{
		margin-top: 20px;
	}
}
/* ICONS */
.icon-gidrosuit{
	width: 94px;
	height: 112px;
	@include mq('laptop','max') {
		width: 64px;
		height: 82px;
	}
}
.icon-prokat{
	width: 99px;
	height: 109px;
	@include mq('laptop','max') {
		width: 69px;
		height: 79px;
	}
}
.icon-camping{
	width: 131px;
	height: 90px;
	@include mq('laptop','max') {
		width: 101px;
		height: 60px;
	}
}
.icon-food{
	width: 117px;
	height: 92px;
	@include mq('laptop','max') {
		width: 87px;
		height: 62px;
	}
}
.icon-guide{
	width: 117px;
	height: 92px;
	@include mq('laptop','max') {
		width: 87px;
		height: 62px;
	}
}
/* ITEMS */
.alloys-items{
	padding-top: 70px;
	padding-bottom: 55px;
	@include mq('desktop','max') {
		padding-top: 20px;
		padding-bottom: 30px;
	}
	@include mq('tablet','max') {
		padding-top: 0;
		padding-bottom: 20px;
	}
}
.alloys-items__title{
	display: block;
	margin-top: 0;
	margin-bottom: 30px;
}
.alloys-items-list{
	width: 100%;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	@include mq('desktop', 'max') {
		justify-content: center;
	}
	@include mq('laptop','max') {
		padding-top: 20px;
	}
	@include mq('tablet','max') {
		max-width: 320px;
		padding-top: 0;
		margin-left: auto;
		margin-right: auto;
	}
}
.js-alloy-items{
	@include mq('tablet','max') {
		&.slick-slider {
			margin-bottom: 10px;
		}
	}
	.slick-dots {
		li {
			button {
				background: #C4C4C4;
				border-color: #C4C4C4;
			}
			&.slick-active{
				button {
					background: transparent;
					border-color: #000;
				}
			}
		}
	}
}
.alloys-items-item{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: (100% / 5);
	text-align: center;
	&:focus{
		outline: none;
	}
	@include mq('desktop', 'max') {
		width: (100% / 3);
	}
	@include mq('laptop','max') {
		margin-bottom: 20px;
	}
	@include mq('tablet','max') {
		margin-bottom: 10px;
	}
	p{
		padding: 0 30px;
		color: #4A4A4A;
		@include font-size(24px);
		line-height: 1.2;
		font-weight: 600;
		@include mq('laptop','max') {
			@include font-size(14px);
			padding: 0;
		}
	}
}
.alloys-items-item__image{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 219px;
	height: 219px;
	margin-bottom: 20px;
	border-radius: 50%;
	border: 5px solid #4A4A4A;
	overflow: hidden;
	@include mq('laptop','max') {
		width: 150px;
		height: 150px;
	}
	@include mq('tablet','max') {
		margin-left: auto;
		margin-right: auto;
	}
}
.alloys-items__label{
	margin: 0;
	@include font-size(24px);
	color: $color-main-darken;
	text-align: center;
	font-weight: 600;
	@include mq('desktop', 'max') {
		margin-top: 50px;
	}
	@include mq('laptop','max') {
		margin-top: 20px;
	}
	@include mq('tablet','max') {
		margin-top: 0;
		@include font-size(18px);
		line-height: 1.2;
	}
}

/* INFO */
.alloy-info{
	position: relative;
	width: 100%;
	display: block;
	padding-bottom: 40px;
	@include mq('tablet','max') {
		padding-bottom: 30px;
	}
}
.alloy-info-top{
	position: relative;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background: url('../images/alloy-info.jpg') no-repeat;
	background-size: cover;
	@include mq('laptop','max') {
		flex-wrap: wrap;
	}
}
.alloy-info-item{
	padding-top: 135px;
	padding-bottom: 142px;
	padding-left: 50px;
	padding-right: 50px;
	flex-grow: 1;
	@include font-size(50px);
	font-weight: 600;
	line-height: 0;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	@include mq('desktop-max', 'max') {
		padding-top: 70px;
		padding-bottom: 63px;
		line-height: 0.6;
		@include font-size(24px);
	}
	@include mq('laptop','max') {
		flex-grow: 1;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@include mq('tablet','max') {
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
	}
	&:nth-child(2) {
		background-color: rgba(0, 0, 0, 0.6);
	}
	&:last-child {
		flex-grow: 2;
		width: 27%;
		background-color: rgba(0, 0, 0, 0.4);
		@include mq('laptop','max') {
			width: 100%;
		}
	}
	span{
		display: block;
		@include font-size(200px);
		line-height: 1;
		@include mq('desktop-max', 'max') {
			@include font-size(96px);
		}
		@include mq('laptop','max') {
			@include font-size(64px);
		}
	}
}

.alloy-info-bottom{
	position: relative;
	width: 100%;
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	background-color: $color-main;
	@include mq('desktop', 'max') {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

/* ATTRACTIONS */
.alloy-attractions{
	position: relative;
	width: 100%;
	padding-bottom: 80px;
	@include mq('laptop','max') {
		padding-bottom: 20px;
	}
	@include mq('tablet','max') {
		padding-bottom: 0;
	}
}
/* EVENTS */
.alloy-events{
	position: relative;
	width: 100%;
	padding-bottom: 90px;
	text-align: center;
	@include clearfix;
	@include mq('tablet','max') {
		padding-bottom: 0;
	}
	.btn{
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		@include mq('tablet','max') {
			margin-top: 20px;
		}
	}
}
.alloy-events-map{
	position: relative;
	float: left;
	width: 50%;
	max-height: 790px;
	overflow: hidden;
	@include mq('desktop-max', 'max') {
		max-height: 680px;
		iframe{
			height: 680px !important;
		}
	}
	@include mq('desktop','max') {
		max-height: 522px;
		iframe{
			height: 522px !important;
		}
	}
	@include mq('laptop','max') {
		display: none;
	}
}
.alloy-events-map__title{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.alloy-events-calendar{
	position: relative;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	max-height: 790px;
	padding-bottom: 50px;
	float: right;
	background-color: #f5f5f5;
	@include mq('desktop','max') {
		padding-bottom: 30px;
	}
	@include mq('laptop','max') {
		width: 100%;
		float: none;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

/* CAROUSEL ARTICLE */
.js-article{
	div[class*='col'] {
		&:focus{
			outline: none;
		}
	}
}
/* end alloy page */
