/* ==========================================================================
	 STOCK LIST
	 ===========================================================================*/

.stock-list{
	position: relative;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 100px;
	@include mq('tablet', 'max') {
		padding-top: 12px;
		padding-bottom: 0;
	}
}
.stock-list-item{
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	max-height: 566px;
	overflow: hidden;
	@include clearfix;
	@include mq('desktop-max', 'max') {
		max-height: 455px;
	}
	@include mq('laptop', 'max') {
		max-height: none;
		margin-bottom: 30px;
	}
	&:nth-child(even){
		@include mq('laptop') {
			flex-direction: row-reverse;
		}
		.stock-list-item-content{
			padding-left: 20px;
			padding-right: 120px;
			@include mq('desktop-max', 'max') {
				padding-right: 40px;
			}
			@include mq('laptop', 'max') {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}
.stock-list-item-image{
	display: block;
	float: left;
	width: 50%;
	overflow: hidden;
	@include mq('laptop', 'max') {
		width: 100%;
		float: none;
		height: 250px;
		margin-bottom: 20px;
	}
	@include mq('tablet', 'max') {
		height: 200px;
	}
	@include mq('phone', 'max') {
		height: 120px;
	}
	img{
		width: 100%;
		height: auto;
		@include mq('desktop-max', 'max') {
			height: 100%;
			max-width: none;
			width: auto;
		}
		@include mq('laptop', 'max') {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
}
.stock-list-item-content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
	width: 50%;
	overflow: hidden;
	text-align: left;
	padding-left: 120px;
	max-width: 860px;
	@include mq('desktop-max', 'max') {
		padding-left: 40px;
		padding-right: 70px;
		max-width: 500px;
	}
	@include mq('laptop', 'max') {
		max-width: none;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		.btn{
			margin-left: auto;
			margin-right: auto;
		}
	}
	@include mq('tablet', 'max') {
		text-align: left;
		.btn{
			width: 100%;
		}
	}
	p{
		margin-top: 0;
		margin-bottom: 25px;
		@include mq('tablet', 'max') {
			margin-bottom: 15px;
		}
	}
}
.stock-list-item-content__title{
	margin-top: 0;
	margin-bottom: 25px;
	@include font-size(36px);
	line-height: 1;
	@include mq('tablet', 'max') {
		margin-bottom: 15px;
	}
}
/* end stock list */
