/* ==========================================================================
	 STYLES FOR ALLOYS PAGE
	 ===========================================================================*/
.title-links{
	position: absolute;
	top: 23px;
	right: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	@include mq('desktop', 'max') {
		position: relative;
		top:0;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
	}
	@include mq('laptop', 'max') {
		display: none;
	}
	li{
		display: block;
		padding: 0 20px;
	}
	.icon{
		margin-bottom: 10px;
	}
	a{
		display: block;
		color: #000;
		line-height: 1;
		&:hover {
			color:$color-main-darken;
		}
	}
	span{
		display: block;
		text-align: center;
		font-weight: 600;
		max-width: 66px;
	}
}
.icon-weather{
	width: 33px;
	height: 34px;
}

/* Weather */
@import 'weather';

/* chose-block */
.chose-block{
	position: relative;
	padding-top: 30px;
	margin-top: 75px;
	@include mq('laptop', 'max') {
		padding-top: 10px;
		margin-top: 35px;
	}
	@include mq('tablet', 'max') {
		margin-top: 0;
		margin-bottom: 40px;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		width: 415px;
		height: 1px;
		margin-left: auto;
		margin-right: auto;
		background-color: $color-main-darken;
		@include mq('tablet', 'max') {
			display: none;
		}
	}
	.h2{
		@include mq('desktop', 'max') {
			@include font-size(24px);
		}
		@include mq('laptop', 'max') {
			@include font-size(20px);
		}
		@include mq('tablet', 'max') {
			@include font-size(16px);
		}
	}
}
/* end alloys page */
