//- layout/page.pug
extends layouts/page.pug

block variables
	- var title = TITLE.home;
	- var welcome = true;

//- content
block content
	//-mixins page
	include pages/home/mixins
	//-blocks
	include pages/home/first
	include pages/home/about
	include pages/home/alloy-front
	include pages/home/reviews

//-popups
block popups

//- scripts
block scripts
