//- layout/page.pug
extends layouts/singlepage.pug

block variables
	- var title = TITLE.questions;
	- var coverImg = 'questions';
	- var coverAlt = 'Закат у реки';
	- var classFooter  = 'footer_gray';
	
//- content
block breadcrumbs

//- content
block title-page
	.container
		h1.h1.h1_page ВОПРОСЫ
		p.title-desription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
//- content
block content
	include pages/questions/content




//- sections
block sections
	include global/section-form
	

//-popups
block popups

//- scripts
block scripts
