//- layout/page.pug
extends layouts/page.pug

block variables
	- var title= TITLE.ui;

//- content
block content
	.container(style="margin-top: 160px; margin-bottom: 160px;")
		.row
			//- section branding
			.col-md-12
				include ui/1-branding-colors
			//- section typography
			.col-md-6
				include ui/2-typography
			//- section buttons
			.col-md-6
				include ui/3-buttons
			.col-md-12
				include ui/4-form
			.col-md-12
				include ui/5-article-preview
			.col-md-12
				include ui/6-alloy-block
			.col-md-12
				include ui/7-collapse
			.col-md-6
				include ui/8-info-block
			.col-md-12
				include ui/9-fullcalendar
			.col-md-12
				include ui/10-icons-weather
	include ui/style.html


//-popups
block popups

//- scripts
block scripts
	include global/script-calendar
