/* ==========================================================================
	 DROPDOWN
	 ===========================================================================*/

.dropdown{
	position: relative;
	z-index: z(dropdown);
	display: inline-block;
	vertical-align:top;
	width: 200px;
	padding-right: 30px;
	padding-left: 16px;
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 1;
	border: 1px solid transparent;
	background-color: $color-gray;
	&:after{
		content: '';
		position: absolute;
		top:50%;
		right: 14px;
		display: block;
		width: 11px;
		height: 12px;
		margin: auto;
		background: url('data:image/svg+xml,%3Csvg%20id%3D%22Arrows%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2063%2035%22%3E%3Cstyle%3E.st0%7Bopacity%3A.3%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22M0%202.5C0%201.8.3%201.2.8.7c1-1%202.6-.9%203.5.1l27.2%2028.1L58.7.8c1-1%202.5-1%203.5-.1%201%201%201%202.5.1%203.5l-29%2030c-.5.5-1.1.8-1.8.8s-1.3-.3-1.8-.8l-29-30C.2%203.8%200%203.1%200%202.5z%22%20class%3D%22st0%22%2F%3E%3C%2Fsvg%3E')no-repeat center center;
		background-size: 100%;
		transform: translateY(-50%);
	}
	&:hover{
		border-color: #ebebeb;
		border-bottom-color: transparent;
		&:after{
			background: url('data:image/svg+xml,%3Csvg%20id%3D%22Arrows%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2063%2035%22%3E%3Cstyle%3E.st0%7Bfill%3A%23d40000%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M63%2032.5c0%20.7-.3%201.3-.8%201.8-1%201-2.6.9-3.5-.1L31.5%206.1%204.3%2034.2c-1%201-2.5%201-3.5.1-1-1-1-2.5-.1-3.5l29-30c.5-.5%201.1-.8%201.8-.8s1.3.3%201.8.8l29%2030c.5.4.7%201.1.7%201.7z%22%2F%3E%3C%2Fsvg%3E') no-repeat center center;
			background-size: 100%;
			background-repeat: no-repeat;
		}
		.dropdown__link{
			border-bottom-color: transparent;
		}
		.dropdown-list{
			display: block;
		}
	}
}
.dropdown__link{
	position: relative;
	display: inline-block;
	width: 100%;
	color: $color-black;
	font-family: $font-family-roboto;
	@include font-size(16px);
	line-height: 1.2;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: 1px dashed rgba(0, 0, 0, .3);
	&:hover{
		color: $color-main;
		text-decoration: underline;
	}
}
.dropdown-list{
	display: none;
	position: absolute;
	top:100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	border: 1px solid #ebebeb;
	border-top-color: transparent;
	background-color: $color-gray;
	li{
		position: relative;
		padding-left: 16px;
		padding-right: 16px;
		&:not(:last-child){
			border-bottom: 1px solid #f5f5f5;
		}
		&:hover{
			background-color: #e4e4e4;
		}
		a{
			display: inline-block;
			padding-top: 6px;
			padding-bottom: 6px;
			width: 100%;
			font-family: $font-family-roboto;
			font-weight: 400;
			color: $color-black;
			@include font-size(14px);
			line-height: 1.4;
			&:hover{
				color: $color-main;
				text-decoration: underline;
			}
		}
	}
}
/* end dropdown */