/*----------------------------------------
	FORM
----------------------------------------*/
.form{
	position: relative;
	display: block;
	width: 100%;
	&.form_horizontal{
		//flexbox
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.form_contacts{
	max-width: 1064px;
	margin: 0 auto;
	text-align: center;
	background-color: #ececec;
	.form-group{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.btn{
		width: 100%;
		@include mq('desktop', 'max') {
			width: 320px;
			margin-left: auto;
			margin-right: auto;
		}
		@include mq('tablet', 'max') {
			width: 100%;
		}
	}
}
.form-group{
	position: relative;
	&:not(:last-child){
		margin-bottom: $group-margin-bottom;
		@include mq('tablet', 'max') {
			margin-bottom: 10px;
		}
	}
}
.form-group_center{
	text-align: center;
}
//TITLE
.form__title{
	margin-top: 0;
	margin-bottom: 40px;
	font-family: $font-family-title;
	@include font-size(36px);
	font-weight: 600;
	color: #000000;
	@include mq('desktop-max', 'max') {
		margin-bottom: 25px;
	}
	@include mq('tablet', 'max') {
		margin-bottom: 17px;
		@include font-size(18px);
		line-height: 1;
	}
}
/*
STYLE FOR INPUT
*/
.form-input{
	width: input(width);
	height: input(height);
	padding: input(padding);
	font-family: input(font-family);
	@include font-size(input(font-size));
	color: input(color);
	font-weight: input(font-weight);
	font-style: input(font-style);
	background-color: input(background);
	border:input(border);
	border-radius:  input(border-radius);
	white-space: nowrap;
	text-overflow: ellipsis;
	@include box-sizing(border-box);
	@include placeholder {
		@include font-size(input(font-size));
		color: input(placeholder);
		transition: input(transition);
	}
	&:focus{
		outline: none;
		@include placeholder {
			color: transparent;
			transition: input(transition);
		}
		// + span.error{
		// 	opacity: 0;
		// }
	}
	&.error{
		border-color: $color-danger;
		background-image:  url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Ctitle%3EGroup%3C%2Ftitle%3E%3Cdesc%3ECreated%20using%20Figma%3C%2Fdesc%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(1%201)%22%20fill%3D%22%23D0021B%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23b%22%20transform%3D%22translate(6.24%206.24)%22%20fill%3D%22%23D0021B%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20transform%3D%22translate(6.24%206.24)%22%20fill%3D%22%23D0021B%22%2F%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M15%208a7%207%200%200%201-7%207v2a9%209%200%200%200%209-9h-2zm-7%207a7%207%200%200%201-7-7h-2a9%209%200%200%200%209%209v-2zM1%208a7%207%200%200%201%207-7v-2a9%209%200%200%200-9%209h2zm7-7a7%207%200%200%201%207%207h2a9%209%200%200%200-9-9v2z%22%2F%3E%3Cpath%20id%3D%22b%22%20d%3D%22M.707-.707A1%201%200%200%200-.707.707L.707-.707zM4.81%206.224A1%201%200%200%200%206.224%204.81L4.81%206.224zM-.707.707L4.81%206.224%206.224%204.81.707-.707-.707.707z%22%2F%3E%3Cpath%20id%3D%22c%22%20d%3D%22M6.224.707A1%201%200%200%200%204.81-.707L6.224.707zM-.707%204.81A1%201%200%200%200%20.707%206.224L-.707%204.81zM4.81-.707L-.707%204.81.707%206.224%206.224.707%204.81-.707z%22%2F%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
		background-repeat: no-repeat;
		background-size: 16px 16px;
		background-position: center right 10px;
		@include placeholder {
			color: $color-danger;
			// color: transparent;
			// transition: input(transition);
		}
		&:focus{
			outline: none;
			// + span.error{
			// 	opacity: 0;
			// }
		}
	}
	&.valid{
		border-color: $color-success;
		background-image:  url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Ctitle%3EGroup%3C%2Ftitle%3E%3Cdesc%3ECreated%20using%20Figma%3C%2Fdesc%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(1%201)%22%20fill%3D%22%2327AE60%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23b%22%20transform%3D%22translate(4.86%205.91)%22%20fill%3D%22%2327AE60%22%2F%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M15%207.5c0%203.53-3.072%206.5-7%206.5v2c4.909%200%209-3.746%209-8.5h-2zM8%2014c-3.928%200-7-2.97-7-6.5h-2c0%204.754%204.091%208.5%209%208.5v-2zM1%207.5C1%203.97%204.072%201%208%201v-2C3.091-1-1%202.746-1%207.5h2zM8%201c3.928%200%207%202.97%207%206.5h2C17%202.746%2012.909-1%208-1v2z%22%2F%3E%3Cpath%20id%3D%22b%22%20d%3D%22M.677%201.54A1%201%200%200%200-.677%203.011l1.354-1.47zm2.468%203.632l-.678.736a1%201%200%200%200%201.388-.031l-.71-.705zM8.985.704a1%201%200%200%200-1.42-1.408L8.986.704zM-.676%203.011l3.144%202.897%201.355-1.471L.677%201.54-.677%203.011zm4.532%202.866L8.985.704%207.566-.704l-5.13%205.172%201.42%201.409z%22%2F%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
		background-repeat: no-repeat;
		background-size: 16px 16px;
		background-position: center right 10px;
	}
}

.form-textarea{
	width: textarea(width);
	height: textarea(height);
	padding: textarea(padding);
	font-family: textarea(font-family);
	@include font-size(textarea(font-size));
	color: textarea(color);
	font-weight: textarea(font-weight);
	border: textarea(border);
	border-radius: textarea(border-radius);
	background-color: textarea(background);
	@include box-sizing(border-box);
	resize: none;
	@include placeholder {
		@include font-size(textarea(font-size));
		color: textarea(placeholder);
		transition: textarea(transition);
	}
	&:focus{
		outline: none;
		@include placeholder {
			color: transparent;
			transition: textarea(transition);
		}
		+ span.error{
			opacity: 0;
		}
	}
	&.error{
		border-color: $color-danger;
		@include placeholder {
			color: transparent;
			transition: textarea(transition);
		}
	}
}
/* label */
.form-label{
	display: inline-block;
	@include font-size(13px);
	font-weight: 400;
}
.form{
	span.error{
		position: absolute;
		display: block;
		bottom: 100%;
		left: 10px;
		right: 0;
		z-index: z(label-error);
		padding-left: 10px;
		padding-right: 10px;
		@include font-size(11px);
		color: $color-danger;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		pointer-events: none;
		background: transparent;
	}
}
.form__link{
	@include font-size(12px);
	line-height: 1.4;
	color: #979797;
	text-align: left;
	&:hover{
		text-decoration: underline;
	}
}
//CAPCHA
.capha{
	display: inline-block;
	vertical-align: top;
	width: 306px;
	max-width: 100%;
	height: 83px;
	overflow: hidden;
	img{
		width: 100%;
	}
}
.form-group_capcha{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	@include mq('tablet', 'max') {
		flex-direction: column;
		align-items: flex-start;
	}
	.capha{
		padding-right: 10px;
		@include mq('tablet', 'max') {
			padding-right: 0;
			margin-bottom: 10px;
		}
	}
	.form__link{
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 326px);
			padding-left: 10px;
			@include mq('tablet', 'max') {
				width: 100%;
				padding-left: 0;
			}
	}
}
/* end forms */
