	/* ==========================================================================
		TYPOGRAPHY
	===========================================================================*/
/* TITLES */
h1,
.h1{
	font-family: $font-family-title;
	@include font-size($font-size-h1);
	color: $color-title;
	line-height: $line-height-title;
	font-weight: $font-weight-title;
	@include mq('laptop', 'max') {
		@include font-size(36px);
	}
	@include mq('tablet', 'max') {
		@include font-size(24px);
	}
}
h2,
.h2{
	font-family: $font-family-title;
	@include font-size($font-size-h2);
	color: $color-title;
	line-height: $line-height-title;
	font-weight: $font-weight-title;
	@include mq('desktop', 'max') {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	@include mq('tablet', 'max') {
		@include font-size(18px);
	}
}
h3,
.h3{
	font-family: $font-family-title;
	@include font-size($font-size-h3);
	color: $color-title;
	line-height: $line-height-title;
	font-weight: $font-weight-title;
	@include mq('tablet', 'max') {
		@include font-size(16px);
	}
}
h4,
.h4{
	font-family: $font-family-title;
	@include font-size($font-size-h4);
	color: $color-title;
	line-height: $line-height-title;
	font-weight: $font-weight-title;
	@include mq('tablet', 'max') {
		@include font-size(14px);
	}
}

/* TEXT */
.italic{
	font-style: italic;
}
.text_center{
	text-align: center !important;
}
.text_left{
	text-align: left !important;
}
.text_rigth{
	text-align: right !important;
}
.text_bold{
	font-weight: 600;
}
.text_uppercase{
	text-transform: uppercase;
}
/* LINKS */
a {
	font-family: $font-family-main;
	@include font-size($font-size-main);
	color: $color-link;
	line-height: $line-height-main;
	font-weight: $font-weight-main;
	text-decoration: none;
}
p{
	a{
		color: $color-main;
		text-decoration: underline;
		&:hover{
			color: $color-main-darken;
			text-decoration: none;
		}
	}
}
a[href^="mailto:"],
a[href^="tel:"]{
	color: inherit;
	text-decoration: none;
	&:hover{
		color: inherit;
		text-decoration: none;
	}
}
ul,
ol{
	margin: 0;
	padding-left: 0;
	list-style: none;
	li{
		list-style: none;
	}
}

/* FOR SINGLE PAGE */
.h1_page{
	position: relative;
	display: block;
	margin-top: 0px;
	margin-bottom: 30px;
	line-height: 1.7;
	text-align: center;
	@include mq('desktop-max', 'max') {
		line-height: 1.3;
	}
	@include mq('desktop', 'max') {
		line-height: 1.4;
		padding-bottom: 8px;
	}
	@include mq('laptop', 'max') {
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		margin: 0 auto;
		width: 415px;
		height: 1px;
		background-color: $color-main-darken;
		@include mq('tablet', 'max') {
			width: 150px;
		}
	}
}
.title-desription{
	position: relative;
	display: block;
	max-width: 630px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
	@include mq('tablet-small', 'max') {
		max-width: 470px;
		line-height: 1.2;
	}
}
/* end typography */
