//alloys list
section#alloys.section-alloys
	.container
		//date filter
		.date-filter
			.date-filter__label Показать сплавы длительностью:
			button(type="button").date-filter__button Любой
			ul.date-filter-list
				li.date-filter-list__item(data-toggle="portfilter", data-target="all") Любой
				li.date-filter-list__item(data-toggle="portfilter", data-target="oneday") 1 день
				li.date-filter-list__item(data-toggle="portfilter", data-target="threeday") 3 дня
				li.date-filter-list__item(data-toggle="portfilter", data-target="fiveday") 5 дней
				li.date-filter-list__item(data-toggle="portfilter", data-target="sevenday") 7 дней
		//list
		.row
			.col-md-4.col-lg-3(data-tag="threeday")
				//- mixin alloy(img, title, date, className)
				+alloy(
					'alloy-1.jpg',
					'Нижняя Катунь',
					'3 дня'
				)
			.col-md-4.col-lg-3(data-tag="sevenday")
				//- mixin alloy(img, title, date, className)
				+alloy(
					'alloy-2.jpg',
					'ЧУЯ + БАШКАУС',
					'7 дней'
				)
			.col-md-4.col-lg-3(data-tag="fiveday")
				//- mixin alloy(img, title, date, className)
				+alloy(
					'alloy-3.jpg',
					'ЧУЛЫШМАН',
					'5 дней'
				)
			.col-md-4.col-lg-3(data-tag="threeday")
				//- mixin alloy(img, title, date, className)
				+alloy(
					'alloy-4.jpg',
					'Средняя Катунь',
					'3 дня'
				)
			.col-md-4.col-lg-3(data-tag="oneday")
				//- mixin alloy(img, title, date, className)
				+alloy(
					'alloy-5.jpg',
					'Средняя Катунь',
					'1 день'
				)
			.col-md-4.col-lg-3(data-tag="threeday")
				//- mixin alloy(img, title, date, className)
				+alloy(
					'alloy-6.jpg',
					'ЧУЯ',
					'3 дня'
				)
			.col-md-4.col-lg-3(data-tag="threeday")
				//- mixin alloy(img, title, date, className)
				+alloy(
					'alloy-7.jpg',
					'ЧУЯ + КАТУНЬ',
					'3 дня'
				)
			.col-md-4.col-lg-3(data-tag="sevenday")
				//- mixin alloy(img, title, date, className)
				+alloy(
					'alloy-8.jpg',
					'ЧУЯ + КАТУНЬ'
				)
