//chose
section.chose-block
	.container
		h2.h2
			| Затрудняетесь с выбором или хотите обсудить даты дополнительно? 
			br 
			|
			| Напишите нам, - мы поможем с выбором:
		button(type="button", class="btn btn_primary", data-popup='open', data-popup-id="#popup-order") Написать нам
