form(id="form-contacts", action="#").form.form_contacts
	.form__title Задать свой вопрос
	.row
		.form-group.col-md-6
			input(type="text", placeholder="Ваше имя", required, data-msg="Поле заполнено не корректно", name='name').form-input
		.form-group.col-md-6
				input(type="text", placeholder="Из какого Вы города", required, data-msg="Поле заполнено не корректно", name='city').form-input
		.form-group.col-md-6
			input(type="email", placeholder="Ваш e-mail для ответа", required, data-msg="Поле заполнено не корректно", name='email').form-input
		.form-group.col-md-6
			input(type="tel", placeholder=" Ваш телефон если нужно перезвонить", required, data-msg="Поле заполнено не корректно", name='phone').form-input.mask-phone
		.form-group.col-sm-12
			textarea(placeholder="Текст вопроса").form-textarea
		.form-group.form-group_capcha.col-xl-8.col-xs-12
			.capha
				img(src="images/capcha.jpg", alt="google capha")
			a(href="#", target="_blank").form__link Нажимая кнопку «отправить запрос», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных
		.form-group.col-xl-4.col-xs-12
			button(type="submit", class="btn btn_primary") Задать вопрос
