//header
header.header
	.container-fluid
		//- logo
		a(href="./").logo
			img(src="images/logo.png", alt="logo")
			| Logo
		//-button menu
		button(id="button-menu", class="btn-menu btn-menu_header", type="button")
			+icon('menu')
			| меню
		//menu
		nav#menu.menu
			button(type="button").js-close.btn-close.btn-close_menu
				i.icon.icon-close
				| close
			ul
				li
					a(href= LINKS.about) О нас
					span.menu__toggle Развернуть
					//submenu
					ul.submenu
						li: a(href= LINKS.news) Новости
						li: a(href="#") База отдыха СЕЛИГУР
						li: a(href="#") ФОТО ВИДЕО
						li: a(href= LINKS.news) Блог
				li: a(href= LINKS.alloys) Сплавы
				li: a(href="#reviews") Отзывы
				li: a(href= LINKS.questions) Вопросы
				li: a(href= LINKS.stocks) Акции
				li: a(href="#") Контакты
		//contacts
		.header-contacts
			.header-contacts-list
				a(href="tel:+79230010200").header-contacts__phone +7 923 001 0200
				a(href="mailto:info@adrenaline-altay.ru").header-contacts__email info@adrenaline-altay.ru
			//-button popup
			button(type="button", class="btn-email btn-email_header", data-popup='open', data-popup-id="#popup-questions")
				+icon('email')
				| Отправить сообщение
