mixin weather(date, icon, name, num)
	//item
	.weater-carousel-item
		span.weater-carousel-item_date= date
		+icon(icon)
		.weater-carousel-item_name= name
		.weater-carousel-item_num
			span= '+' + num
			sup 0
//weather
section#weather.weather
	.container
		h2.h2 Карта погоды
		p.title-desription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
		.weater-carousel.js-weather
			- for( var i =0; i < 2; i++)
				//- weather(date, icon, name, num)
				+weather(
					'Вс 14.06',
					'weather_2',
					'Солнечно',
					'15'
				)
				//- weather(date, icon, name, num)
				+weather(
					'Пн 15.06',
					'weather_4',
					'Местами дожди',
					'16'
				)
				//- weather(date, icon, name, num)
				+weather(
					'Вт 16.06',
					'weather_2',
					'Солнечно',
					'17'
				)
				//- weather(date, icon, name, num)
				+weather(
					'Ср 17.06',
					'weather_6',
					'Облачно',
					'18'
				)
				//- weather(date, icon, name, num)
				+weather(
					'Чт 18.06',
					'weather_2',
					'Солнечно',
					'19'
				)
				//- weather(date, icon, name, num)
				+weather(
					'Пт 19.06',
					'weather_11',
					'Ветренно',
					'19'
				)
				//- weather(date, icon, name, num)
				+weather(
					'Сб 20.06',
					'weather_2',
					'Солнечно',
					'20'
				)
				//- weather(date, icon, name, num)
				+weather(
					'Вс 21.06',
					'weather_2',
					'Солнечно',
					'17'
				)
