//news list
section.news-list
	.container
		.row
			.col-sm-6.col-md-4.col-lg-3
				+article(
					'article-preview-1.jpg',
					'Мы вновь открываем рафтинг-марафон, теперь уже сезона 2018'
				)
			.col-sm-6.col-md-4.col-lg-3
				+article(
					'article-preview-2.jpg',
					'Мы обновили оформление наших социальных сообществ'
				)
			.col-sm-6.col-md-4.col-lg-3
				+article(
					'article-preview-3.jpg',
					'Мы открыли собственный канал на Ю-Тубе!'
				)
			.col-sm-6.col-md-4.col-lg-3
				+article(
					'article-preview-4.jpg',
					'Мы запустили свой собственный сайт'
				)
			.col-sm-6.col-md-4.col-lg-3
				+article(
					'article-preview-5.jpg',
					'Нашему инструктору исполнилось 25 лет! Поздравляем именинника!'
				)
			.col-sm-6.col-md-4.col-lg-3
				+article(
					'article-preview-6.jpg',
					'В наступающем году мы приготовили для наших гостей массу интересного!'
				)
			.col-sm-6.col-md-4.col-lg-3
				+article(
					'article-preview-7.jpg',
					'Для сезона 2018 мы приобреди новые рафты! '
				)
			.col-sm-6.col-md-4.col-lg-3
				+article(
					'article-preview-8.jpg',
					'Поездка в Горный Алтай: где отдохнуть и что посмотреть '
				)
		include ../../global/pagination
