//alloy
section#alloy-front.alloy-front
	.container
		.info-block.info-block_alloy
			p Мы успешно подбираем оптимальные туры или сплавы под Ваши ожидания, возможности и способности.
			a(href= LINKS.alloys, class="btn btn_secondary") Подробнее 
