// first screen / slider
.first-screen.js-slider
	//- item
	+slide(
		'background-image: url("uploads/slide1.jpg");',
		'Однажды мы понимаем, что всем нужны от жизни',
		'Качественные воспоминания',
		'Мы умеем создавать самые <b>незабываемые моменты</b> в Вашей жизни'
	
	)
	//- item
	+slide(
		'background-image: url("uploads/slide3.jpg");',
		'Ничто не помогает быть успешным лучше, чем',
		'Годовой заряд позитивом',
		'Вы будете потом еще очень долго рассматривать фото и просматривать видео'
	
	)
	//- item
	+slide(
		'background-image: url("uploads/slide2.jpg");',
		'Вас не оставит равнодушными наше ',
		'Cибирское гостеприимство',
		'У нас есть все ,чтобы сделать Ваш визит к нам незабываемым и комфортным'
	
	)

			
