mixin slide(bg, text, title, buttonText)
	//item
	.js-slider-item(style= bg)
		.container
			//title
			.first-screen-title
				span= text
				.first-screen-title__box= title
				.first-screen-title__button
					span!= buttonText
				
