//reviews
section#reviews.reviews
	.container
		h2.reviews__title
			span Самое ценное в нашей работе - это ваши эмоции!
			| Адреналин, позитив и радость,
		p.reviews__subtitle которые  вы дарите себе и своим близким стоят гораздо больше, чем может показаться человеку, который никогда такого не испытывал. Эти эмоции не подделать и они отчетливовидны в Ваших отзывах:
		include ../../global/reviews-list
		a(href="#").btn.btn_primary Читать все отзывы
