//- global varibles
block variables
	- var title= '';
	- var pageClass = '';
	- var classFooter = '';

//- all mixin
include ../mixin/global

//- layout page
doctype html
html(lang="ru")
	include ../global/head
	body(class= pageClass)
		//- header
		include ../global/header
		//- wrapper
		.wrapper
			//- cover
			include ../global/cover
			//-breadcrumbs
			block breadcrumbs
			.content
				block title-page
				block content
			block sections
		include ../global/footer
		.popups
			include ../global/popups-global
			block popups
		include ../global/scripts
		block scripts
		include ../pages/pages
